*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image:url('images/bg.png');
    background-repeat: no-repeat;
    background-size: cover; /*size na macocover yung buong page (mastretch yung pic)*/
    background-attachment: fixed; /*fixed na covered entire element*/   
}

header {
    background-color:#FFE684; 
    color: #fff; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; /*infront, making sure na naka front nav bar*/
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow for the bottom of the nav */
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}      
.logo {
    position:absolute;
    top: -4px;
   
}
.logo img {
    width: 50px;
    margin-left: 10px;
}

.logo-back{ /* style for linking to home using logo*/
    display: contents;
 }

.navbar .menu, 
.navbar .login {
    display: flex;
}


.navbar .menu li,
.navbar .login li  {
    margin: 0 30px;
}

.navbar .menu a,
.navbar .login a  {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 500ms;
}

.navbar .menu a:hover,
.navbar .login a:hover {
    background-color: #fdd63b;
    padding: 10px;
    transition: 500ms;
}

.login{
    position: absolute;
    right: 0;
    padding-right: 35px;
}

.login .dropdown-content {
    display: none;
    position: absolute;
    background-color: #508430;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.login:hover .dropdown-content {
    display: block;
}

.login .dropdown-content a {
    color: white;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
}

.login .dropdown-content a:hover {
    background-color: #ffffff;
    color: black;
}

.user-icon{
    position: absolute;
    right: 0;
}


.welcome-page{
    width: 100%;
    height: 100vh;
}

.welcome-text-container{
    padding-top: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 500ms;
}
.welcome-text-container h1{
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: bolder;
    border: 3px solid black;
    padding: 20px 100px;
    margin: 0 250px;
    border-radius: 20px;
    transition: 500ms;
    /* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); hori, verti, blur */
}

.welcome-text-container h4{  
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;

}

.welcome-text-container h1:hover{
    transform: scale(1.1);
    transition: 500ms;
}



#about {
    background-color: #E7C639;
    min-height: 30vh;
}
.about-container{
    padding: 60px 50px 100px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.about-container h2{
    font-size: 35px;
    text-align: center;
}



.about-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.about-content p {
    flex: 1 ;
    text-align: justify;
}

.about-content img {
    max-width:50vw;
    margin-left: 30px;
}
