*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo{
    width: 100px;
    position: absolute;
    top: 10%;
    right: 46%;
    height: 100px;
}

.container{
    min-height: 100px ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 1px 15px 0.1px;
    border-radius: 20px;
}

.login H1{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.login input{
    width: 300px;
    padding: 8px;
}

button {
    background-color:#0000001c;
    color:#33241b;
    margin-top: 50px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    
}
button:hover {
    background-color:rgb(1, 73, 4);
    color: #ffffff;
    transition: 0.2s;
}